body{
    background-image: url("images/view-futuristic-concert.jpg");
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    background-attachment: fixed;
}

.keycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:60vw;
    height:50vh;
    margin:0 auto;
   
    
    gap:2%;
}

.keybtn{
    width:80px;
    height: 70px;
    font-size: 20px;
    background-color: rgba(135, 129, 129, 0.4);
    transition: all linear 0.2s;
    
    

    
}

.playing {
    box-shadow: 0 0 35px rgb(253, 253, 12);
    border:yellow 2px solid;
    transform: scale(2);
}
