body{
    background-image: url("images/view-futuristic-concert.jpg");
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    background-attachment: fixed;
    
}

.keycontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:60vw;
    height:50vh;
    margin:0 auto;
   
    
    gap:2%;
}

.keybtn{
    width:80px;
    height: 70px;
    font-size: 20px;
    background-color: rgba(135, 129, 129, 0.4);
    transition: all linear 0.2s;
    border-radius: 25px;
    color:white;

    
    

    
}

.playing {
    box-shadow: 0 0 35px rgb(253, 253, 12);
    border:yellow 2px solid;
    transform: scale(2);
}

@media  screen and (max-width:1280px) {
  
    .keycontainer{

        flex-wrap: wrap;
    }

    
}

.footer{
    color:white;
    font-size:20px;
    background-color: rgba(92, 90, 90, 0.648);
    width: 140px;
    border-radius:40px;
    display: flex;
    padding:5px;
    position: fixed;
    bottom: 12px;
    right: 13px;
    
    

}
.footerimg  img{
    width:20px;
    border-radius:100%;
}
